<div class="navbar navbar-light navbar-expand bg-gray shadow mb-4 pt-3 pb-3 topbar static-top">
  <div class="container-fluid">
    <h2 class="mb-0">Adicionando Categoria</h2>
       
  </div>
</div>
<%= render 'form', category: @category %>







