<div class="col-lg-3 col-xl-2 px-lg-3 px-0 d-flex sticky-top bg-gray-light shadow">
  <div class="d-flex flex-lg-column flex-row flex-grow-1 align-items-center align-items-lg-start px-lg-3 px-md-3 pt-lg-4 text-white">
      <a href="<%= root_path %>" class="d-flex align-items-center pb-lg-3 mb-lg-0 me-lg-auto text-white text-decoration-none">
          <span class="fs-5"><i class="fas fa-hamburger fa-rotate-by m-2" style="--fa-rotate-angle:-15deg;"></i><span class="d-none d-md-inline">PEDIDO<strong>RÁPIDO</strong></span></span>
      </a>
      <ul class="nav nav-pills m-2 flex-lg-column flex-row flex-nowrap flex-shrink-1 flex-lg-grow-0 flex-grow-1 mb-lg-auto mb-0 justify-content-center align-items-center align-items-lg-start" id="menu">
        <%= render "layouts/navigation/navbar_links" %>
      </ul>
      <div class="dropdown py-lg-4 mt-lg-auto ms-auto ms-lg-0 flex-shrink-1">
          <a href="#" class=" d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= "<i class='fas fa-user-circle mx-2'></i> #{current_user.first_name}".html_safe %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-lgall shadow" aria-labelledby="dropdownUser1">
            <li>
              <%= link_to '<i class="fas fa-sign-out-alt"></i> Encerrar sessão'.html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
      </div>
  </div>
</div>
